/* Change Brand Font */
.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  font-weight: bold;
}

/* Change Navigation Color */
.navbar #myMenu .custom-nav .nav-item a {
  color: #fff;
}

.navbar #myMenu .custom-nav .nav-item a:hover {
  color: #F0AAB1;
}

/* Make Header Image Responsive */
.back-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 90vh;
  border-radius: 0px;
  margin-top: 74px;
}

/* Header Image Sub-Title */
.font-italic {
  font-size: 24px;
}

a {
  color: black;
}

.active {
  color: white;
  background-color: #6c757d;
}

a:hover {
  color: #006db2;
}

/* Change Footer Icon Link Color */
.fi-color {
  color: #DC3545;
}

.fi-color:hover {
  color: #E994A2;
}

/* Plus Button for adding New Users Bottom Right */
.box {
  position: fixed;
  bottom: 10px;
  right: 20px;
  margin-bottom: 30px;
}

/* Setting Margin for Welcome to OSMS */
.mainHeading {
  margin-top: 50px;
}

/* Setting Margin and Alignment for Welcome to OSM Mobile View */
@media only screen and (max-width: 600px) {
  .myclass {
    margin-top: 350px;
    text-align: center;
  }
}

/* Sidebar Styles */
body {
  padding-top: 56px;
}

.sidebar {
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 48px 0 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 0;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 56px);
  padding-top: .5rem;
}

.navbar-toggler-icon {
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba(0, 0, 0, 0.5)" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/></svg>');
}

.navbar-brand {
  margin-left: 15px;
  transition: margin-left 0.3s ease;
}

@media (max-width: 767px) {
  .sidebar {
    width: 250px;
  }

  .sidebar.collapsed {
    width: 0;
  }

  .main-content {
    margin-left: 0;
  }

  .main-content.expanded {
    margin-left: 0;
  }
}

/* Additional Dashboard Content Styles */
#dashboard-content .sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 56px); /* Resta la altura de la barra de navegación */
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

#dashboard-content {
  padding-top: 20px; /* Ajusta el espacio superior según sea necesario */
  margin-left: 250px; /* Ancho de la barra lateral */
  margin-top: 60px; /* Altura de la barra de navegación */
}

@media (max-width: 768px) {
  #dashboard-content .sidebar-sticky {
    height: calc(100vh - 112px); /* Resta la altura del encabezado y la barra de navegación */
  }

  #dashboard-content {
    margin-left: 0; /* Asegúrate de que el margen izquierdo sea cero en dispositivos pequeños */
    margin-top: 0; /* Elimina el margen superior */
    padding-top: 20px; /* Ajusta el espacio superior según sea necesario */
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* Estilos específicos para pantallas entre 768px y 1024px */
  #dashboard-content .sidebar-sticky {
    height: calc(100vh - 56px); /* Resta la altura de la barra de navegación */
  }

  #dashboard-content {
    margin-left: 150px; /* Cambia el margen izquierdo para ajustar la barra lateral */
  }
}
